<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

<ion-item *ngFor="let town of townTab">
  
  <ion-button color="success" (click)="showTownInfo(town.id)">{{town.ville}}</ion-button>

  <ion-button  slot="end" size="small" color="danger" (click)="deleteTown(town.id)">
    <ion-icon name="trash"></ion-icon>
  </ion-button>

  <ion-button  slot="end" size="small" color="secondary" (click)="updateTown(town.id)">
    <ion-icon name="create"></ion-icon>
  </ion-button>
  
  

</ion-item>

</ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button  expand="block" color="secondary" (click)="insertVille()">Ajouter une ville</ion-button>
  </ion-toolbar>
</ion-footer>